#########################
# EXT:crawler
# global ignore file
########################
#
# Don't ignore .rej and .orig as we want to see/clean files after conflict resolution.
#
# For local exclude patterns please edit .git/info/exclude.
#
########################
#
# Ignore temporary files (left by editors)
*~
*.bak
#
# Ignore by common IDEs used directories/files
nbproject
*.idea
*.project
.buildpath
.project
.settings
.TemporaryItems
.webprj
#
# Ignore PHP/composer stuff
.Build
composer.lock
.php_cs.cache

var/log
var/tests

# Devbox
.devbox/.ddev/config.local.yaml
.devbox/bin
.devbox/var
.devbox/vendor
.devbox/public/index.php
.devbox/public/fileadmin/_processed_
.devbox/public/fileadmin/_temp_
.devbox/public/typo3
.devbox/public/typo3conf/ext
.devbox/public/typo3conf/PackageStates.php
.devbox/public/typo3temp

# Codeception Files
Tests/Acceptance/_data/*
Tests/Acceptance/_output/*
