# Ignore temporary files (left by editors)
*~
*.bak

# Ignore by common IDEs used directories/files
nbproject
*.idea
*.project
.buildpath
.project
.settings
.TemporaryItems
.webprj

# Ignore PHP/composer stuff
.Build
composer.lock
.php_cs.cache
/Resources/Private/Php/Libraries/vendor
/Resources/Private/Php/Libraries/composer.lock
var/log
var/tests
var/
infection.log
/Tests/.phpunit.cache/
/Infection/
/LOGGER-HTML
reports/

# Devbox
.devbox/.ddev/config.local.yaml
.devbox/bin
.devbox/var
.devbox/vendor
.devbox/public/index.php
.devbox/public/fileadmin/_processed_
.devbox/public/fileadmin/_temp_
.devbox/public/typo3
.devbox/public/typo3conf/ext
.devbox/public/typo3conf/PackageStates.php
.devbox/public/typo3temp
.devbox/.ddev/.global_commands/
.devbox/.ddev/.homeadditions/
.devbox/.ddev/apache/
.devbox/.ddev/nginx_full/
.devbox/.ddev/providers/
.devbox/.ddev/xhprof/

# Codeception Files
Tests/Acceptance/_data/*
Tests/Acceptance/_output/*

# Generated documentation
Documentation-GENERATED-temp
