{
    "source": {
        "directories": [
            "Classes"
        ],
        "excludes": [
            "Api",
            "Hooks/IndexedSearchCrawlerHook.php",
            "Utility/SignalSlotUtility.php"
        ]
    },
    "phpUnit": {
        "configDir": "Tests\/"
    },
    "minMsi": 17,
    "minCoveredMsi": 85,
    "logs": {
        "text": "infection.log",
        "github": true,
        "stryker": {
            "report": "main"
        }
    },
    "mutators": {
        "@default": true,
        "IdenticalEqual": false,
        "NotIdenticalNotEqual": false
    }
}
