parameters:
	ignoreErrors:
		-
			message: '#^Constant AOE\\Crawler\\Command\\ProcessQueueCommand\:\:CLI_STATUS_POLLABLE_PROCESSED is unused\.$#'
			identifier: classConstant.unused
			count: 1
			path: Classes/Command/ProcessQueueCommand.php

		-
			message: '#^Cannot access offset ''ShowFeVars'' on array\|object\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 1
			path: Classes/Controller/Backend/BackendModuleCrawlerLogController.php

		-
			message: '#^Cannot access offset ''ShowResultLog'' on array\|object\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 1
			path: Classes/Controller/Backend/BackendModuleCrawlerLogController.php

		-
			message: '#^Cannot access offset ''_csv'' on array\|object\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 1
			path: Classes/Controller/Backend/BackendModuleCrawlerLogController.php

		-
			message: '#^Cannot access offset ''_flush'' on array\|object\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 1
			path: Classes/Controller/Backend/BackendModuleCrawlerLogController.php

		-
			message: '#^Cannot access offset ''_flush_all'' on array\|object\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 1
			path: Classes/Controller/Backend/BackendModuleCrawlerLogController.php

		-
			message: '#^Cannot access offset ''displayLog'' on array\|object\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 1
			path: Classes/Controller/Backend/BackendModuleCrawlerLogController.php

		-
			message: '#^Cannot access offset ''itemsPerPage'' on array\|object\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 1
			path: Classes/Controller/Backend/BackendModuleCrawlerLogController.php

		-
			message: '#^Cannot access offset ''logDepth'' on array\|object\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 1
			path: Classes/Controller/Backend/BackendModuleCrawlerLogController.php

		-
			message: '#^Cannot access offset ''parameters'' on array\<string, mixed\>\|false\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 2
			path: Classes/Controller/Backend/BackendModuleCrawlerLogController.php

		-
			message: '#^Cannot access offset ''qid_details'' on array\|object\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 1
			path: Classes/Controller/Backend/BackendModuleCrawlerLogController.php

		-
			message: '#^Cannot access offset ''qid_read'' on array\|object\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 1
			path: Classes/Controller/Backend/BackendModuleCrawlerLogController.php

		-
			message: '#^Cannot access offset ''setID'' on array\|object\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 3
			path: Classes/Controller/Backend/BackendModuleCrawlerLogController.php

		-
			message: '#^Call to function is_object\(\) with AOE\\Crawler\\Hooks\\CrawlerHookInterface will always evaluate to true\.$#'
			identifier: function.alreadyNarrowedType
			count: 1
			path: Classes/Controller/Backend/BackendModuleCrawlerProcessController.php

		-
			message: '#^Cannot access offset ''action'' on array\|object\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 1
			path: Classes/Controller/Backend/BackendModuleCrawlerProcessController.php

		-
			message: '#^Cannot access offset ''processListMode'' on array\|object\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 1
			path: Classes/Controller/Backend/BackendModuleCrawlerProcessController.php

		-
			message: '#^Unable to resolve the template type T in call to static method TYPO3\\CMS\\Core\\Utility\\GeneralUtility\:\:makeInstance\(\)$#'
			identifier: argument.templateType
			count: 1
			path: Classes/Controller/Backend/BackendModuleCrawlerProcessController.php

		-
			message: '#^Cannot access offset ''_crawl'' on array\|object\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 1
			path: Classes/Controller/Backend/BackendModuleStartCrawlingController.php

		-
			message: '#^Cannot access offset ''_download'' on array\|object\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 1
			path: Classes/Controller/Backend/BackendModuleStartCrawlingController.php

		-
			message: '#^Cannot access offset ''configurationSelection'' on array\|object\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 1
			path: Classes/Controller/Backend/BackendModuleStartCrawlingController.php

		-
			message: '#^Cannot access offset ''crawlingDepth'' on array\|object\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 1
			path: Classes/Controller/Backend/BackendModuleStartCrawlingController.php

		-
			message: '#^Cannot access offset ''tstamp'' on array\|object\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 2
			path: Classes/Controller/Backend/BackendModuleStartCrawlingController.php

		-
			message: '#^Class cognitive complexity is 96, keep it under 28$#'
			identifier: complexity.classLike
			count: 1
			path: Classes/Controller/CrawlerController.php

		-
			message: '#^Call to an undefined method object\:\:crawler_execute\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: Classes/CrawlStrategy/CallbackExecutionStrategy.php

		-
			message: '#^Method AOE\\Crawler\\CrawlStrategy\\CallbackExecutionStrategy\:\:fetchByCallback\(\) has no return type specified\.$#'
			identifier: missingType.return
			count: 1
			path: Classes/CrawlStrategy/CallbackExecutionStrategy.php

		-
			message: '#^Parameter \#1 \$className of static method TYPO3\\CMS\\Core\\Utility\\GeneralUtility\:\:makeInstance\(\) expects class\-string\<object\>, string given\.$#'
			identifier: argument.type
			count: 1
			path: Classes/CrawlStrategy/CallbackExecutionStrategy.php

		-
			message: '#^Unable to resolve the template type T in call to static method TYPO3\\CMS\\Core\\Utility\\GeneralUtility\:\:makeInstance\(\)$#'
			identifier: argument.templateType
			count: 1
			path: Classes/CrawlStrategy/CallbackExecutionStrategy.php

		-
			message: '#^Call to function is_array\(\) with array will always evaluate to true\.$#'
			identifier: function.alreadyNarrowedType
			count: 1
			path: Classes/CrawlStrategy/SubProcessExecutionStrategy.php

		-
			message: '#^Call to function is_array\(\) with array\{scheme\: ''''\|''http''\|''https'', host\?\: string, port\?\: int\<0, 65535\>, user\?\: string, pass\?\: string, path\?\: string, query\?\: string, fragment\?\: string\} will always evaluate to true\.$#'
			identifier: function.alreadyNarrowedType
			count: 1
			path: Classes/CrawlStrategy/SubProcessExecutionStrategy.php

		-
			message: '#^Method AOE\\Crawler\\CrawlStrategy\\SubProcessExecutionStrategy\:\:executeShellCommand\(\) should return string\|null but returns string\|false\|null\.$#'
			identifier: return.type
			count: 1
			path: Classes/CrawlStrategy/SubProcessExecutionStrategy.php

		-
			message: '#^Instanceof between AOE\\Crawler\\Domain\\Model\\Process and AOE\\Crawler\\Domain\\Model\\Process will always evaluate to true\.$#'
			identifier: instanceof.alwaysTrue
			count: 2
			path: Classes/Domain/Model/ProcessCollection.php

		-
			message: '''
				#^Call to deprecated method getExpressionBuilder\(\) of class TYPO3\\CMS\\Core\\Database\\Connection\:
				Use \{@see createExpressionBuilder\(\)\} instead\.$#
			'''
			identifier: method.deprecated
			count: 1
			path: Classes/Domain/Repository/QueueRepository.php

		-
			message: '#^Cannot access offset ''alturl'' on array\|bool\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 1
			path: Classes/Service/BackendModuleLogService.php

		-
			message: '#^Cannot access offset ''procInstructions'' on array\|bool\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 1
			path: Classes/Service/BackendModuleLogService.php

		-
			message: '#^Method AOE\\Crawler\\Service\\BackendModuleLogService\:\:addRows\(\) should return non\-empty\-list\<array\{titleRowSpan\: int\<1, max\>, colSpan\: int, title\: string, noEntries\?\: string, trClass\?\: string, qid\?\: array\{link\: TYPO3\\CMS\\Core\\Http\\Uri, link\-text\: string\}, refresh\?\: array\{link\: TYPO3\\CMS\\Core\\Http\\Uri, link\-text\: TYPO3\\CMS\\Core\\Imaging\\Icon, warning\: string\|TYPO3\\CMS\\Core\\Imaging\\Icon\}, columns\?\: array\{url\: mixed, scheduled\: string, exec_time\: string, result_log\: string, result_status\: string, feUserGroupList\: string, procInstructions\: string, set_id\: string, \.\.\.\}\}\> but returns array\{non\-empty\-list\<array\>, array\}\.$#'
			identifier: return.type
			count: 1
			path: Classes/Service/BackendModuleLogService.php

		-
			message: '#^Parameter \#1 \$resultData of static method AOE\\Crawler\\Controller\\Backend\\Helper\\ResultHandler\:\:getResFeVars\(\) expects array, array\|true given\.$#'
			identifier: argument.type
			count: 1
			path: Classes/Service/BackendModuleLogService.php

		-
			message: '#^Call to function is_array\(\) with array\<non\-empty\-array\<string, mixed\>\> will always evaluate to true\.$#'
			identifier: function.alreadyNarrowedType
			count: 1
			path: Classes/Service/ConfigurationService.php

		-
			message: '#^Class cognitive complexity is 87, keep it under 28$#'
			identifier: complexity.classLike
			count: 1
			path: Classes/Service/ConfigurationService.php

		-
			message: '#^Offset ''usergroup_cached_list'' might not exist on array\|null\.$#'
			identifier: offsetAccess.notFound
			count: 1
			path: Classes/Service/ConfigurationService.php
