parameters:
	ignoreErrors:
		-
			message: "#^Parameter \\#1 \\$string of function substr expects string, string\\|null given\\.$#"
			count: 1
			path: Classes/Command/BuildQueueCommand.php

		-
			message: "#^Constant AOE\\\\Crawler\\\\Command\\\\ProcessQueueCommand\\:\\:CLI_STATUS_POLLABLE_PROCESSED is unused\\.$#"
			count: 1
			path: Classes/Command/ProcessQueueCommand.php

		-
			message: "#^Cannot call method error\\(\\) on Psr\\\\Log\\\\LoggerInterface\\|null\\.$#"
			count: 1
			path: Classes/Configuration/ExtensionConfigurationProvider.php

		-
			message: "#^Offset 'name' does not exist on array\\|null\\.$#"
			count: 1
			path: Classes/ContextMenu/ItemProvider.php

		-
			message: "#^Call to function is_string\\(\\) with bool will always evaluate to false\\.$#"
			count: 1
			path: Classes/Controller/CrawlerController.php

		-
			message: "#^Cannot call method debug\\(\\) on Psr\\\\Log\\\\LoggerInterface\\|null\\.$#"
			count: 2
			path: Classes/Controller/CrawlerController.php

		-
			message: "#^Class cognitive complexity is 102, keep it under 60$#"
			count: 1
			path: Classes/Controller/CrawlerController.php

		-
			message: "#^Else branch is unreachable because ternary operator condition is always true\\.$#"
			count: 1
			path: Classes/Controller/CrawlerController.php

		-
			message: "#^Method AOE\\\\Crawler\\\\Controller\\\\CrawlerController\\:\\:readUrl\\(\\) should return int\\|null but empty return statement found\\.$#"
			count: 1
			path: Classes/Controller/CrawlerController.php

		-
			message: "#^Parameter \\#2 \\$string of function explode expects string, true given\\.$#"
			count: 1
			path: Classes/Controller/CrawlerController.php

		-
			message: "#^Property AOE\\\\Crawler\\\\Controller\\\\CrawlerController\\:\\:\\$MP \\(bool\\) does not accept string\\.$#"
			count: 1
			path: Classes/Controller/CrawlerController.php

		-
			message: "#^Property AOE\\\\Crawler\\\\Controller\\\\CrawlerController\\:\\:\\$crawler is never read, only written\\.$#"
			count: 1
			path: Classes/Controller/CrawlerController.php

		-
			message: "#^Property AOE\\\\Crawler\\\\Controller\\\\CrawlerController\\:\\:\\$urlService is never read, only written\\.$#"
			count: 1
			path: Classes/Controller/CrawlerController.php

		-
			message: "#^Call to an undefined method object\\:\\:crawler_execute\\(\\)\\.$#"
			count: 1
			path: Classes/CrawlStrategy/CallbackExecutionStrategy.php

		-
			message: "#^Method AOE\\\\Crawler\\\\CrawlStrategy\\\\CallbackExecutionStrategy\\:\\:fetchByCallback\\(\\) has no return type specified\\.$#"
			count: 1
			path: Classes/CrawlStrategy/CallbackExecutionStrategy.php

		-
			message: "#^Parameter \\#1 \\$className of static method TYPO3\\\\CMS\\\\Core\\\\Utility\\\\GeneralUtility\\:\\:makeInstance\\(\\) expects class\\-string\\<object\\>, string given\\.$#"
			count: 1
			path: Classes/CrawlStrategy/CallbackExecutionStrategy.php

		-
			message: "#^Unable to resolve the template type T in call to method static method TYPO3\\\\CMS\\\\Core\\\\Utility\\\\GeneralUtility\\:\\:makeInstance\\(\\)$#"
			count: 1
			path: Classes/CrawlStrategy/CallbackExecutionStrategy.php

		-
			message: "#^Else branch is unreachable because ternary operator condition is always true\\.$#"
			count: 1
			path: Classes/CrawlStrategy/CrawlStrategyFactory.php

		-
			message: "#^Method AOE\\\\Crawler\\\\CrawlStrategy\\\\CrawlStrategyInterface\\:\\:fetchUrlContents\\(\\) has no return type specified\\.$#"
			count: 1
			path: Classes/CrawlStrategy/CrawlStrategyInterface.php

		-
			message: "#^Cannot call method debug\\(\\) on Psr\\\\Log\\\\LoggerInterface\\|null\\.$#"
			count: 2
			path: Classes/CrawlStrategy/SubProcessExecutionStrategy.php

		-
			message: "#^Cannot call method info\\(\\) on Psr\\\\Log\\\\LoggerInterface\\|null\\.$#"
			count: 1
			path: Classes/CrawlStrategy/SubProcessExecutionStrategy.php

		-
			message: "#^Else branch is unreachable because ternary operator condition is always true\\.$#"
			count: 1
			path: Classes/CrawlStrategy/SubProcessExecutionStrategy.php

		-
			message: "#^Method AOE\\\\Crawler\\\\CrawlStrategy\\\\SubProcessExecutionStrategy\\:\\:executeShellCommand\\(\\) should return string\\|null but returns string\\|false\\|null\\.$#"
			count: 1
			path: Classes/CrawlStrategy/SubProcessExecutionStrategy.php

		-
			message: "#^Function getQueueEntriesForPageId\\(\\) has an unused variable \\$query\\.$#"
			count: 1
			path: Classes/Domain/Repository/QueueRepository.php

		-
			message: "#^Method AOE\\\\Crawler\\\\Event\\\\ModifySkipPageEvent\\:\\:isSkipped\\(\\) should return string\\|false but returns bool\\|string\\.$#"
			count: 1
			path: Classes/Event/ModifySkipPageEvent.php

		-
			message: "#^There is no request attribute \"tx_crawler\" configured so we can't figure out the exact type to return when calling Psr\\\\Http\\\\Message\\\\ServerRequestInterface\\:\\:getAttribute$#"
			count: 1
			path: Classes/Middleware/CrawlerInitialization.php

		-
			message: "#^Class cognitive complexity is 84, keep it under 60$#"
			count: 1
			path: Classes/Service/ConfigurationService.php

		-
			message: "#^Offset 'usergroup_cached…' does not exist on array\\|null\\.$#"
			count: 1
			path: Classes/Service/ConfigurationService.php

		-
			message: "#^Function getUrlFromPageAndQueryParameters\\(\\) has an unused variable \\$siteLanguage\\.$#"
			count: 1
			path: Classes/Service/UrlService.php

		-
			message: "#^Parameter \\#1 \\$row of static method TYPO3\\\\CMS\\\\Core\\\\Utility\\\\CsvUtility\\:\\:csvValues\\(\\) expects array\\<string\\>, array\\<int, int\\|string\\> given\\.$#"
			count: 1
			path: Classes/Writer/FileWriter/CsvWriter/CrawlerCsvWriter.php

