includes:
    - phpstan-baseline.neon
    # For cognitive rules - These a include from the phpstan/extension-installer
    #- .Build/vendor/symplify/phpstan-rules/config/packages/cognitive-complexity/cognitive-complexity-services.neon
    #- .Build/vendor/symplify/phpstan-rules/config/services/services.neon

parameters:
    level: 8
    paths:
        - "Classes/"
        - "Configuration/"
    excludePaths:
        - Tests/Acceptance
        - Classes/CrawlStrategy/GuzzleExecutionStrategy.php
        - Documentation

    inferPrivatePropertyTypeFromConstructor: true

    ignoreErrors:
        -
            identifier: missingType.iterableValue
        -
            identifier: missingType.generics

    # composer require tomasvotruba/cognitive-complexity --dev
    cognitive_complexity:
        class: 35
        function: 21

    # composer require tomasvotruba/type-coverage --dev
    type_coverage:
        return_type: 81
        param_type: 79
        property_type: 79
        constant: 0

services:
    -
        class: Symplify\PHPStanRules\Rules\ForbiddenFuncCallRule
        tags: [phpstan.rules.rule]
        arguments:
            forbiddenFunctions:
                - eval
                - dump
                - die
                - d
                - compact
                - var_dump
