includes:
    - phpstan-baseline.neon
    - .Build/vendor/symplify/coding-standard/packages/cognitive-complexity/config/cognitive-complexity-rules.neon

rules:
    - Symplify\CodingStandard\Rules\NoDefaultExceptionRule
    - Symplify\CodingStandard\Rules\NoDebugFuncCallRule

parameters:
    level: max
    paths:
        - "Classes/"
        - "Configuration/"
        - "Tests/"
    excludes_analyse:
        - Tests/Acceptance
        - Classes/Worker/CrawlerWorker.php
        - Classes/CrawlStrategy/GuzzleExecutionStrategy.php

    inferPrivatePropertyTypeFromConstructor: true
    checkMissingIterableValueType: false
    checkGenericClassInNonGenericObjectType: false

services:
    -
        class: Symplify\CodingStandard\CognitiveComplexity\Rules\FunctionLikeCognitiveComplexityRule
        tags: [phpstan.rules.rule]
        arguments:
            maxMethodCognitiveComplexity: 60

    -
        class: Symplify\CodingStandard\CognitiveComplexity\Rules\ClassLikeCognitiveComplexityRule
        tags: [phpstan.rules.rule]
        arguments:
            maxClassCognitiveComplexity: 60
