[receive]
	requireChangeId = true
[submit]
	action = cherry pick
[project]
	state = active
[access "refs/*"]
	pushMerge = group Administrators
[access "refs/for/refs/heads/*"]
	forgeCommitter = group TYPO3v4/Extensions/crawler-Leaders
	pushMerge = group TYPO3v4/Extensions/crawler-Leaders
	pushMerge = group TYPO3v4/Extensions/crawler-Members
[access "refs/heads/*"]
	owner = group TYPO3v4/Extensions/crawler-Leaders
	create = group TYPO3v4/Extensions/crawler-Leaders
	label-Code-Review = -2..+2 group TYPO3v4/Extensions/crawler-Leaders
	label-Code-Review = -2..+2 group TYPO3v4/Extensions/crawler-Members
	label-Verified = -1..+2 group TYPO3v4/Extensions/crawler-Leaders
	label-Verified = -1..+2 group TYPO3v4/Extensions/crawler-Members
	submit = group TYPO3v4/Extensions/crawler-Leaders
	submit = group TYPO3v4/Extensions/crawler-Members
[access "refs/tags/*"]
	create = group TYPO3v4/Extensions/crawler-Leaders
	pushTag = group TYPO3v4/Extensions/crawler-Leaders
