<?xml version="1.0" encoding="UTF-8"?>
<phpunit
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="../.Build/vendor/phpunit/phpunit/phpunit.xsd"
    bootstrap="../.Build/vendor/nimut/testing-framework/res/Configuration/UnitTestsBootstrap.php"
    colors="true"
    executionOrder="default"
    resolveDependencies="true"
    processIsolation="true"
>
    <testsuites>
        <testsuite name="unit">
            <directory>../Tests/Unit</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">../Classes</directory>
        </whitelist>
    </filter>
    <php>
        <ini name="error_reporting" value="E_ALL"/>
    </php>
</phpunit>
