<?xml version="1.0"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.5/phpunit.xsd"
         backupGlobals="true"
         beStrictAboutTestsThatDoNotTestAnything="false"
         bootstrap="UnitTestsBootstrap.php"
         cacheDirectory=".phpunit.cache"
         cacheResult="false"
         colors="true"
         displayDetailsOnTestsThatTriggerDeprecations="false"
         displayDetailsOnTestsThatTriggerErrors="false"
         displayDetailsOnTestsThatTriggerNotices="false"
         displayDetailsOnTestsThatTriggerWarnings="false"
         failOnDeprecation="false"
         failOnNotice="false"
         failOnRisky="false"
         failOnWarning="false"
         requireCoverageMetadata="true"
         executionOrder="random"
>
    <testsuites>
        <testsuite name="Unit tests">
            <directory>Unit/</directory>
        </testsuite>
    </testsuites>
    <php>
        <!-- @deprecated: will be removed with next major version, constant TYPO3_MODE is deprecated -->
        <const name="TYPO3_MODE" value="BE"/>
        <env name="TYPO3_CONTEXT" value="Testing"/>
    </php>
</phpunit>
