<link rel="stylesheet" href="{f:uri.resource(path:'Css/backend_crawler.css')}">
<f:if condition="{currentPageId} == 0">
	<f:then>
		<h3 id="noPageSelected">
			<f:translate key="LLL:EXT:crawler/Resources/Private/Language/locallang.xlf:labels.noPageSelected" />
		</h3>
	</f:then>
	<f:else>
        <f:if condition="{displayActions} == 1">
            <f:then>
                <f:render section="DisplayActions" />
            </f:then>
        </f:if>
        <h3>
            <f:render section="Headline" />
        </h3>
		<f:render section="Content" />
	</f:else>
</f:if>
