services:
  db:
    image: mariadb:10.3
    restart: no
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: crawler
    ports:
      - 3306:3306
    tmpfs:
      - /var/lib/mysql/:rw,noexec,nosuid

  db_postgres:
    image: postgres:13.5-alpine3.15
    restart: no
    environment:
      POSTGRES_DB: root
      POSTGRES_USER: root
      POSTGRES_PASSWORD: root
      PGDATA: "/data/postgres"
    ports:
      - 5432:5432
