version: '3.1'

services:
  db:
    image: mysql:5.6
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: crawler
    ports:
      - 3306:3306
    tmpfs:
      - /var/lib/mysql/:rw,noexec,nosuid