services:
    _defaults:
        autowire: true
        autoconfigure: true
        public: false

    AOE\Crawler\:
        resource: '../Classes/*'

    AOE\Crawler\Command\BuildQueueCommand:
        tags:
            - name: 'console.command'
              command: 'crawler:buildQueue'
              description: 'Create entries in the queue that can be processed at once'

    AOE\Crawler\Command\FlushQueueCommand:
        tags:
            - name: 'console.command'
              command: 'crawler:flushQueue'
              description: 'Remove queue entries and perform a cleanup'

    AOE\Crawler\Command\ProcessQueueCommand:
        tags:
            - name: 'console.command'
              command: 'crawler:processQueue'
              description: 'Trigger the crawler to process the queue entries'

    queryBuilder.tx_crawler_configuration:
        class: 'TYPO3\CMS\Core\Database\Query\QueryBuilder'
        factory: [ '@TYPO3\CMS\Core\Database\ConnectionPool', 'getQueryBuilderForTable' ]
        arguments: [ 'tx_crawler_configuration' ]

    queryBuilder.tx_crawler_process:
        class: 'TYPO3\CMS\Core\Database\Query\QueryBuilder'
        factory: [ '@TYPO3\CMS\Core\Database\ConnectionPool', 'getQueryBuilderForTable' ]
        arguments: [ 'tx_crawler_process' ]

    queryBuilder.tx_crawler_queue:
        class: 'TYPO3\CMS\Core\Database\Query\QueryBuilder'
        factory: [ '@TYPO3\CMS\Core\Database\ConnectionPool', 'getQueryBuilderForTable' ]
        arguments: [ 'tx_crawler_queue' ]

    AOE\Crawler\Middleware\FrontendUserAuthenticator:
        arguments:
            $queryBuilder: '@queryBuilder.tx_crawler_queue'

    AOE\Crawler\Backend\BackendModule:
        arguments:
            $processManager: '@AOE\Crawler\Service\ProcessService'
            $queryBuilder: '@queryBuilder.tx_crawler_queue'
            $queueRepository: '@AOE\Crawler\Domain\Repository\QueueRepository'
