name: Acceptance Tests

on:
  pull_request:
    branches:
      - "**"
  push:
    branches:
      - "main"

jobs:
  Acceptance-Playwright:
    strategy:
      fail-fast: false
      matrix:
        typo3:
          - ^13.4
        php:
          - '8.2'
          - '8.3'
          - '8.4'
    timeout-minutes: 60
    runs-on: ubuntu-24.04
    steps:
      - name: Get branch name (merge)
        if: github.event_name != 'pull_request'
        shell: bash
        run: echo "BRANCH_NAME=$(echo ${GITHUB_REF#refs/heads/} | tr / -)" >> $GITHUB_ENV

      - name: Get branch name (pull request)
        if: github.event_name == 'pull_request'
        shell: bash
        run: echo "BRANCH_NAME=$(echo ${GITHUB_HEAD_REF})" >> $GITHUB_ENV

      - uses: actions/checkout@v6
      - name: Patch composer.json for forked PR
        if: >
          github.event_name == 'pull_request' &&
          github.event.pull_request.head.repo.full_name != github.repository
        run: |
          cd .devbox
          composer config repositories.crawler-pr '{"type": "vcs", "url": "https://github.com/${{ github.event.pull_request.head.repo.full_name }}.git"}'

      - name: Prepare devbox before start
        run: |
          export FROM_PATH='../../'
          export TO_PATH=$(echo $GITHUB_WORKSPACE)
          cd .devbox
          sed -i 's/php_version: "8.2"/php_version: "${{ matrix.php }}"/g' .ddev/config.yaml
          sed -i "s|$FROM_PATH|$TO_PATH|g" .ddev/docker-compose.volume.yaml

      - uses: ddev/github-action-setup-ddev@v1
        with:
          ddevDir: ".devbox"

      - name: Playwright
        run: |
          cd .devbox
          rm -rf vendor composer.lock
          ddev composer require typo3/cms-core=${{ matrix.typo3 }} tomasnorre/crawler=dev-$BRANCH_NAME
          cd .. # Going back to "root" directory
          wget https://raw.githubusercontent.com/vishnubob/wait-for-it/master/wait-for-it.sh
          chmod +x wait-for-it.sh
          docker ps
          ./wait-for-it.sh -t 60 127.0.0.1:80
          ./wait-for-it.sh -t 60 127.0.0.1:443
      - uses: actions/setup-node@v6
        with:
          node-version: lts/*
      - name: Install dependencies
        run: cd Tests/Acceptance-Playwright && npm ci
      - name: Install Playwright Browsers
        run: cd Tests/Acceptance-Playwright && npx playwright install --with-deps
      - name: Run Playwright tests
        run: cd Tests/Acceptance-Playwright && npx playwright test
      - uses: actions/upload-artifact@v5
        if: ${{ !cancelled() }}
        with:
          name: playwright-report
          path: playwright-report/
          retention-days: 30
