name: Test Coveralls

on:
  pull_request:
    branches:
      - "**"
  push:
    branches:
      - "main"


jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    steps:
      - name: Set up MySQL 8.0
        uses: mirromutth/mysql-action@v1.1
        with:
          mysql version: 8.0
          mysql root password: 'root'

      - name: Checkout
        uses: actions/checkout@v6

      - name: Set up PHP Version 8.1
        uses: shivammathur/setup-php@v2
        with:
          php-version: 8.1
          tools: composer:v2

      - name: Install dependencies
        uses: ramsey/composer-install@v3

      - name: Unit Tests
        run: |
          export "UNIT_XML"=Tests/UnitTests.xml
          XDEBUG_MODE=coverage .Build/bin/phpunit --coverage-filter Classes --coverage-clover=unittest-coverage.clover --colors -c $UNIT_XML Tests/Unit

      - name: Functional Tests
        run: |
          export "FUNCTIONAL_XML"=Tests/FunctionalTests.xml
          XDEBUG_MODE=coverage .Build/bin/phpunit --coverage-filter Classes --coverage-clover=functional-coverage.clover --colors -c $FUNCTIONAL_XML Tests/Functional --process-isolation
        env:
          typo3DatabaseHost: 127.0.0.1
          typo3DatabaseName: typo3
          typo3DatabasePassword: root
          typo3DatabaseUsername: root

      - name: Upload coverage results to Coveralls
        env:
          COVERALLS_REPO_TOKEN: ${{ secrets.COVERALLS_REPO_TOKEN }}
        run: |
          composer global require php-coveralls/php-coveralls --no-progress --no-suggest --no-interaction
          /home/runner/.composer/vendor/bin/php-coveralls -c .coveralls.yml -vvv --json_path=Tests/coveralls-upload.json
        #continue-on-error: true
