name: Deploy to TER

on:
  push:
    tags:
      - "**"

jobs:
  TER:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - id: composer-cache
        run: echo "dir=$(composer config cache-files-dir)" >> $GITHUB_OUTPUT
      - uses: actions/cache@v5
        with:
          path: ${{ steps.composer-cache.outputs.dir }}
          key: ${{ runner.os }}-composer-${{ hashFiles('**/composer.lock') }}
          restore-keys: |
            ${{ runner.os }}-composer-
      - uses: shivammathur/setup-php@v2
        with:
          php-version: 8.1
          coverage: none

      - name: "Determine tag"
        id: "determine-tag"
        run: echo "tag=${GITHUB_REF#refs/tags/}" >> $GITHUB_OUTPUT

      - uses: tomasnorre/typo3-upload-ter@v2.2.4
        with:
          api-token: ${{ secrets.TYPO3_API_TOKEN }}
          php-version: '8.1'
