name: DEPLOY

on:
  push:
    tags:
      - "**"

jobs:
  TER:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - name: Deploy to TER
        run: |
          if [ -n "${{ secrets.TYPO3_ORG_USERNAME }}" ] && [ -n "${{ secrets.TYPO3_ORG_PASSWORD }}" ]; then
            echo -e "Preparing upload of release ${TRAVIS_TAG} to TER\n";

            # Install ter client
            composer global require helhum/ter-client

            # Build extension files
            composer extension-release

            # Upload
            TAG_MESSAGE=`git log -1 --pretty=%B`
            echo "Tag-Message: ${TAG_MESSAGE}"
            echo "Uploading release ${TRAVIS_TAG} to TER"
            $HOME/.composer/vendor/helhum/ter-client/ter-client crawler . -u "${{ secrets.TYPO3_ORG_USERNAME }}" -p "${{ secrets.TYPO3_ORG_PASSWORD }}" -m "$TAG_MESSAGE"
          fi;