name: Check requirements

on:
  pull_request:
    branches:
      - "**"
  push:
    branches:
      - "main"

jobs:
  check:
    name: Check Requirements
    runs-on: ubuntu-latest
    steps:
      -   uses: actions/checkout@v5
      -   id: composer-cache
          run: echo "dir=$(composer config cache-files-dir)" >> $GITHUB_OUTPUT
      -   uses: actions/cache@v4
          with:
            path: ${{ steps.composer-cache.outputs.dir }}
            key: ${{ runner.os }}-composer-${{ hashFiles('**/composer.lock') }}
            restore-keys: |
              ${{ runner.os }}-composer-
      -   uses: shivammathur/setup-php@v2
          with:
            php-version: 8.1
            coverage: none
      -   run: php .github/scripts/composer-require-check.php
