name: Static Analysis

on:
    pull_request:
        branches:
            - "**"
    push:
        branches:
            - "main"

jobs:
    phpstan:
        name: PHPstan
        runs-on: ubuntu-latest
        steps:
            -   uses: actions/checkout@v6
            -   id: composer-cache
                run: echo "dir=$(composer config cache-files-dir)" >> $GITHUB_OUTPUT
            -   uses: actions/cache@v4
                with:
                    path: ${{ steps.composer-cache.outputs.dir }}
                    key: ${{ runner.os }}-composer-${{ hashFiles('**/composer.lock') }}
                    restore-keys: |
                        ${{ runner.os }}-composer-
            -   uses: shivammathur/setup-php@v2
                with:
                    php-version: 8.2
                    coverage: none
            -   name: "Install dependencies"
                uses: ramsey/composer-install@v3
            -   run: composer analyse

    rector:
        name: Rector
        runs-on: ubuntu-latest
        steps:
            -   uses: actions/checkout@v6
            -   id: composer-cache
                run: echo "dir=$(composer config cache-files-dir)" >> $GITHUB_OUTPUT
            -   uses: actions/cache@v4
                with:
                    path: ${{ steps.composer-cache.outputs.dir }}
                    key: ${{ runner.os }}-composer-${{ hashFiles('**/composer.lock') }}
                    restore-keys: |
                        ${{ runner.os }}-composer-
            -   uses: shivammathur/setup-php@v2
                with:
                    php-version: 8.2
                    coverage: none
            -   name: "Install dependencies"
                uses: ramsey/composer-install@v3
            -   run: composer rector

    code-style:
        name: Code Style
        runs-on: ubuntu-latest
        steps:
            -   uses: actions/checkout@v6
            -   id: composer-cache
                run: echo "dir=$(composer config cache-files-dir)" >> $GITHUB_OUTPUT
            -   uses: actions/cache@v4
                with:
                    path: ${{ steps.composer-cache.outputs.dir }}
                    key: ${{ runner.os }}-composer-${{ hashFiles('**/composer.lock') }}
                    restore-keys: |
                        ${{ runner.os }}-composer-
            -   uses: shivammathur/setup-php@v2
                with:
                    php-version: 8.2
                    coverage: none
            -   name: "Install dependencies"
                uses: ramsey/composer-install@v3
            -   run: composer cs-fix

    Psalm:
        name: Psalm
        runs-on: ubuntu-latest
        steps:
            -   uses: actions/checkout@v6
            -   id: composer-cache
                run: echo "dir=$(composer config cache-files-dir)" >> $GITHUB_OUTPUT
            -   uses: actions/cache@v4
                with:
                    path: ${{ steps.composer-cache.outputs.dir }}
                    key: ${{ runner.os }}-composer-${{ hashFiles('**/composer.lock') }}
                    restore-keys: |
                        ${{ runner.os }}-composer-
            -   uses: shivammathur/setup-php@v2
                with:
                    php-version: 8.2
                    coverage: none
            -   name: "Install dependencies"
                uses: ramsey/composer-install@v3
            -   run: composer cs-fix
            -   run: .Build/bin/psalm --no-cache --shepherd

