name: Static Analysis

on:
    pull_request:
        branches:
            - "**"
    push:
        branches:
            - "main"

jobs:
    phpstan:
        name: PHPstan
        runs-on: ubuntu-latest
        steps:
            -   uses: actions/checkout@v3
            -   id: composer-cache
                run: echo "::set-output name=dir::$(composer config cache-files-dir)"
            -   uses: actions/cache@v1
                with:
                    path: ${{ steps.composer-cache.outputs.dir }}
                    key: ${{ runner.os }}-composer-${{ hashFiles('**/composer.lock') }}
                    restore-keys: |
                        ${{ runner.os }}-composer-
            -   uses: shivammathur/setup-php@v2
                with:
                    php-version: 8.1
                    coverage: none
            -   run: composer install --no-progress
            -   run: composer analyse

    rector:
        name: Rector
        runs-on: ubuntu-latest
        steps:
            -   uses: actions/checkout@v3
            -   id: composer-cache
                run: echo "::set-output name=dir::$(composer config cache-files-dir)"
            -   uses: actions/cache@v1
                with:
                    path: ${{ steps.composer-cache.outputs.dir }}
                    key: ${{ runner.os }}-composer-${{ hashFiles('**/composer.lock') }}
                    restore-keys: |
                        ${{ runner.os }}-composer-
            -   uses: shivammathur/setup-php@v2
                with:
                    php-version: 8.1
                    coverage: none
            -   run: composer install --no-progress
            -   run: composer rector

    code-style:
        name: Code Style
        runs-on: ubuntu-latest
        steps:
            -   uses: actions/checkout@v3
            -   id: composer-cache
                run: echo "::set-output name=dir::$(composer config cache-files-dir)"
            -   uses: actions/cache@v1
                with:
                    path: ${{ steps.composer-cache.outputs.dir }}
                    key: ${{ runner.os }}-composer-${{ hashFiles('**/composer.lock') }}
                    restore-keys: |
                        ${{ runner.os }}-composer-
            -   uses: shivammathur/setup-php@v2
                with:
                    php-version: 8.1
                    coverage: none
            -   run: composer install --no-progress
            -   run: composer cs-fix

    Psalm:
        name: Psalm
        runs-on: ubuntu-latest
        steps:
            -   uses: actions/checkout@v3
            -   id: composer-cache
                run: echo "::set-output name=dir::$(composer config cache-files-dir)"
            -   uses: actions/cache@v1
                with:
                    path: ${{ steps.composer-cache.outputs.dir }}
                    key: ${{ runner.os }}-composer-${{ hashFiles('**/composer.lock') }}
                    restore-keys: |
                        ${{ runner.os }}-composer-
            -   uses: shivammathur/setup-php@v2
                with:
                    php-version: 8.1
                    coverage: none
                    tools: phive

            -   name: "Install tools (Phive)"
                run: "phive install --trust-gpg-keys 12CE0F1D262429A5"

            -   run: composer require --dev nimut/typo3-complete:^11.5 --no-progress
            -   run: tools/psalm --shepherd

